html {
  font-size: 16px;
  background: #edeff0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.wrap {
  width: 500px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #2e4261;
  box-shadow: 0 1px 2px 0 #c9ced1;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.custom-file {
  width: auto;
  height: 3.3125rem;
  cursor: pointer;
  cursor: pointer;
}
.custom-file-input {
  height: 3.3125rem;
}
.custom-file-label {
  display: block;
  background: none;
  border: none;
  color: #fff;
  line-height: 3.3125rem;
  height: 3.3125rem;
  padding: 0 200px 0 0;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom-file-label::after {
  height: 3.3125rem;
  line-height: 3.3125rem;
  padding: 0 1.875rem;
  color: #fff;
  content: "Choose file";
  border-radius: 3px;
  background-color: #536480;
  box-shadow: 0 2px 2px #000000;
  border-left: 0;
}
